
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
  }

.Main-Container {
    background: url("../img/bg.jpg");
    background-size: cover;
    font-size: 1.5rem;
    font-weight: 700;
    color: #e0e0e0;
    text-align: center;
    padding-bottom: 35%;
  }



  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  
  .Nav-Links {
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1.2rem;
  }
  .Nav-Links a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #e0e0e0;
    display: block;
  
  }
  .Nav-Links a:hover {
    transition: .2s ease-in-out;
    border-color: #fff;
  }
  
  @media  (max-width: 700px) {
    .Nav-Links a {
      display: none;
    }
  }
  




